apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: oms

resources:
- ../../base
- infrastructure

replicas:
- name: gateway
  count: 1
- name: orders
  count: 1
- name: payments
  count: 1
- name: stock
  count: 1
- name: kitchen
  count: 1
- name: customer-app
  count: 1
- name: kitchen-display
  count: 1

images:
- name: oms-gateway
  newTag: latest
- name: oms-orders
  newTag: latest
- name: oms-payments
  newTag: latest
- name: oms-stock
  newTag: latest
- name: oms-kitchen
  newTag: latest
- name: oms-customer-app
  newTag: latest
- name: oms-kitchen-display
  newTag: latest

patches:
- path: config/configmap-patch.yaml
  target:
    kind: ConfigMap
    name: oms-config
- target:
    kind: HTTPRoute
    name: customer-app
  patch: |-
    - op: replace
      path: /spec/hostnames
      value: ["oms-dev.timourhomelab.org"]
- target:
    kind: HTTPRoute
    name: gateway-api
  patch: |-
    - op: replace
      path: /spec/hostnames
      value: ["api-dev.oms.timourhomelab.org"]
- target:
    kind: HTTPRoute
    name: kitchen-display
  patch: |-
    - op: replace
      path: /spec/hostnames
      value: ["kitchen-dev.oms.timourhomelab.org"]

commonLabels:
  environment: development

commonAnnotations:
  deployment.kubernetes.io/environment: "dev"
