apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: oms

resources:
- ../../base
- ../../platform/production
- config/

replicas:
- name: gateway
  count: 3
- name: orders
  count: 1
- name: payments
  count: 1
- name: stock
  count: 1
- name: kitchen
  count: 1
- name: customer-app
  count: 1
- name: kitchen-display
  count: 1

patches:
- path: config/configmap-patch.yaml
  target:
    kind: ConfigMap
    name: oms-config
- path: config/orders-secrets-patch.yaml
  target:
    kind: Deployment
    name: orders

commonLabels:
  environment: production

commonAnnotations:
  deployment.kubernetes.io/environment: "production"
