apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: oms
  labels:
    app: gateway
    component: api-gateway
    app.kubernetes.io/name: gateway
    app.kubernetes.io/part-of: oms
spec:
  type: ClusterIP
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: gateway
